.Card {
  background-color: var(--bg-light);
  box-shadow: var(--shadow-soft);
  border-radius: 10px;
  padding: 40px;
  margin: 144px 24px 24px;
}

.Card__media {
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 16px;
  min-height: 200px;
  background-size: cover;
  background-position: center;
}
