.Header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--bg-light);
  box-shadow: var(--shadow-soft);
  height: 1.5rem;
  padding: 16px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .LeftButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.Header .RightButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
