.TextField {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

.TextField input {
  color: rgba(0, 0, 0, 0.7);
}

.PostButton {
  background-color: #ededed !important;
}

.PostButtonContainer {
  margin-top: 10px !important;
}

.MapContainer {
  border-radius: 4px;
  margin-bottom: 10px;
}
