.SignUpPage .text,
.SignInPage .text {
  font-size: 12px;
  text-align: center;
}

.SignUpPage .form > div,
.SignInPage .form > div {
  margin-bottom: 16px;
}

.SignUpPage .form,
.SignInPage .form {
  margin-bottom: 16px;
}

.SignUpPage a,
.SignInPage a {
  font-weight: 500;
  text-decoration: underline;
}
