.BottomNav {
  border-top: 1px solid var(--border);
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.BottomNav .MuiBottomNavigationAction-label {
  color: var(--text);
  font-family: inherit;
}
