.SearchBar {
  width: 100%;
}

.SearchBar .MuiInputBase-root {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-light);
  box-shadow: var(--shadow-soft);
  height: 36px;
  border-radius: 30px;
}

.SearchBar .MuiInputBase-root:hover,
.SearchBar .MuiInputBase-root:focus {
  box-shadow: var(--shadow-hard);
}

.SearchBar .MuiInputAdornment-root {
  margin-left: 12px;
  color: var(--text-faded);
}

.SearchBar .MuiSvgIcon-root {
  width: 16px;
  height: 16px;
}

.SearchBar .MuiInputBase-input {
  color: var(--text);
}
